@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

:root {
  --dark: #232323;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  max-width: 48rem;
  padding-top: 0.75em;
  padding-inline: 1em;
  margin-inline: auto;
  margin-bottom: 1em;
}

.toggle-switch {
  position: relative;
  width: 60px;
  height: 30px;
}

label {
  cursor: pointer;
}

input {
  display: none;
  cursor: pointer;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10em;
  transition: 0.3s;
  background-color: var(--dark);
}

.slider::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url(assets/united-states.png);
  background-size: cover;
  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(24px);
  background-image: url(assets/cambodia.png);
}

.location-box {
  font-family: 'Barlow', sans-serif;
  width: 300px;
  border: 1px solid #181818;
  padding: 10px;
  margin-inline: auto;
  margin-bottom: 1.5em;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.4em;
}

.label {
  font-weight: 600;
  margin-right: 5px;
}

#map {
  max-width: 48rem;
  height: 400px;
  margin-inline: auto;
  padding-inline: 1em;
  border: 1px solid rgb(210, 220, 220);
}
